<p id="notice"><%= notice %></p>

<p>
  <strong>Display name:</strong>
  <%= @car.display_name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
