<!DOCTYPE html>
<html>
<head>
  <title>ScRegistry</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar brand: "Star Car Regsitry", fixed: :top, responsive: true %>
<%= yield %>

</body>
</html>
